#slider-wrap {
    /* оболочка слайдера и кнопок */
    
    width: 540px;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}
#slider {
    /* оболочка слайдера */
    
    width: 539px;
    height: 360px;
    overflow: hidden;
    border: #eee solid 5px;
    position: relative;
}
.slide {
    /* —лайд */
    
    width: 100%;
    height: 100%;
}
.sli-links {
    /*  кнопки смены слайдов */
    
    margin-top: 10px;
    text-align: center;
}
.sli-links .control-slide {
    margin: 2px;
    display: inline-block;
    width: 16px;
    height: 16px;
    overflow: hidden;
    text-indent: -9999px;
    background: url(../slaider/radioBg.png) center bottom no-repeat;
}
.sli-links .control-slide:hover {
    cursor: pointer;
    background-position: center center;
}
.sli-links .control-slide.active {
    background-position: center top;
}
#prewbutton,
#nextbutton {
    /* —сылка "—ледующий" и "ѕедыдущий" */
    
    display: block;
    width: 15px;
    height: 100%;
    position: absolute;
    top: 0;
    overflow: hidden;
    text-indent: -999px;
    background: url(../slaider/arrowBg.png) left center no-repeat;
    opacity: 0.8;
    z-index: 3;
    outline: none !important;
}
#prewbutton {
    left: 10px;
}
#nextbutton {
    right: 10px;
    background: url(../slaider/arrowBg.png) right center no-repeat;
}
#prewbutton:hover,
#nextbutton:hover {
    opacity: 1;
}